.*.sw[opn]
/rpm
/deb
/*.tar.bz2
/cover_db
.prove
.tags
_build
build*
target
perls
dists
/js/compiled/*
Build
MANIFEST
MANIFEST.bak
META.*
MYMETA.*
blib
_build
perlbrew
pigeon-v*.tar.gz
tests
*.confwiki
cscope.*
